{% include 'public_header.html' %}

 <section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
                  <center>
							<form method="post">
		<center>
			<h2>Forgot Password</h2>
			<table class="table" style="width: 500px;color: white;">
				<tr>
					<th>Username</th>
					<td style="color: white"><input type="text" name="uname"  class="form-control" ></td>
				</tr>
				<tr>
					<th>Email</th>
					<td><input type="text" name="ph"  class="form-control" ></td>
				</tr>
				<tr>
					
					<td align="center" colspan="2"><input type="submit" name="next" value="Next" class="btn btn-danger"></td>

				</tr>
			</table>
		</center>
	</form>
								
							
							
	
     </div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>

								
					

	
{% include'footer.html' %}