{% include "hod_header.html" %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
<center>     
              	<form method="post">
		<center>
			<h3 style="color: white">CHANGE PASSWORD</h3>
			<table class="table" style="width: 500px;color: black">
				<tr>
					<th style="color: white">Password</th>
					<td><input type="password" name="opwd" class="form-control" required></td>
				</tr>
				<tr>
					<th style="color: white">New Password</th>
					<td><input type="password" name="npwd" class="form-control" required></td>
				</tr>
				<tr>
					<th style="color: white">Confirm Password</th>
					<td><input type="password" name="cpwd"  class="form-control" required></td>
				</tr>
				<tr>
					<td colspan="2" align="center"><input type="submit" name="save" value="Save" class="btn btn-success"></td>
				</tr>
			
			</table>
			</div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>
		</center>
	
 
        </form>


{% include "footer.html" %}