{% include "hod_header.html" %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
<center>
	<form method="post">
		<br><br><br><br><br>
		<h1 style="color: white">Outpass Requests </h1>
		<!-- <div style="overflow: scroll;width: 1000px;height: 600px"> -->
			<table class="table" style="width: 700px;align="center">
			<tr>
				<th style="color: white">Sl No</th>
				<th style="color: white">Staff Name</th>
				<th style="color: white">Reason</th>
				<th style="color: white">Request Date</th>
				<th style="color: white">Request Time</th>
				
				<th style="color: white">Status</th>
			</tr>

			{% for row in data['outpass'] %}
			<tr>
				<td style="color: white">{{loop.index}}</td>
				<td style="color: white">{{row['sname']}}</td>
				<td style="color: white">{{row['reason']}}</td>
				<td style="color: white">{{row['request_date']}}</td>
				
				<td style="color: white">{{row['request_time']}}</td>
				<td style="color: white">{{row['ss']}}</td>
				{% if row['status'] =='pending' %}
				<td><a class="btn btn-success" href="?action=accept&pid={{row['pass_id']}}">Accept</a></td>
				<td><a class="btn btn-danger" href="?action=reject&pid={{row['pass_id']}}">Reject</a></td>
				{% elif row['status']=='accepted' %}
				<td><a class="btn btn-danger" href="?action=reject&pid={{row['pass_id']}}">Reject</a></td>
				{% elif row['status']=='rejected' %}
				<td><a class="btn btn-success" href="?action=accept&pid={{row['pass_id']}}">Accept</a></td>
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
		</div>
	</form>
</center>
</div>
    </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>

{% include "footer.html" %}