{% include "principal_header.html" %}
<section id="hero" style="height: 700px">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
              	<center>
              		<form method="post">
		 
  <center>

		{% if data['hod'] %}
		<h1 style="color: white">Hod details</h1>
		<table class="table" style="width: 500px;" align="center">
			<tr style="color: white">
				<th>First name</th>
				<th>Last name</th>
				<th>Place</th>
				<th>Phone</th>
				<th>email</th>
			</tr>

			{% for row in data['hod'] %}
			<tr style="color: white">
				
				<td>{{row['fname']}}</td>
				<td>{{row['lname']}}</td>
				<td>{{row['place']}}</td>
				<td>{{row['phone']}}</td>
				<td>{{row['email']}}</td>
				</td>
				
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<h1>No HOD Added!!</h1>
		{% endif %}
		
	</form>
              	</div>
            </div>
          </div>

        </div>



        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section> 




 



{% include "footer.html" %}