{% include "teacher_header.html" %}
<section id="hero" style="height:900px;">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
<center>
	
	<form method="post">
		<h1 style="color: white">Request For Outpass</h1>
		<table class="table" style="width: 700px;color: white;" align="center">
			<tr>
			<th>Reason</th>
			<td><input type="text" name="reason" required class="form-control"></td>
			</tr>
			<tr>
			<th>Request Date</th>
			<td><input type="date" name="date" min="{{data['today']}}" max="{{data['today']}}" required class="form-control"></td>
			</tr>
			<tr>
				<th>Request Time</th>
				<td><input type="time" name="time" value="{{data['current_time']}}" required class="form-control"></td>
			</tr>
			<tr>
				<th>Return Time</th>
				<td><input type="time" name="return_time" min="{{ data['current_time'] }}" required class="form-control"></td>
			</tr>
			<tr>
				<td colspan="2" align="center"><input type="submit" name="submit" value="SUBMIT" class="btn btn-success"></td>
			</tr>
		</table>
		</div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>
  <center>

		<h1>My Outpass Requests</h1>
		<table class="table" style="width: 700px; background-color: white;opacity: 0.8;" align="center">
			<tr>
				<th>Sl No</th>
				
				<th>Request Date</th>
				<th>Request Time</th>
				<th>Return Time</th>
				<th>Reason</th>
				<th>Status</th>
			</tr>

			{% for row in data['opass'] %}
			<tr>
				<td>{{loop.index}}</td>
				
				<td>{{row['request_date']}}</td>
				<td>{{row['request_time']}}</td>
				<td>{{row['return_time']}}</td>
				<td>{{row['reason']}}</td>
				<td>{{row['status']}}</td>
				{% if row['status'] =='pending' %}
				<td><a class="btn btn-danger" href="?action=cancel&pid={{row['pass_id']}}">Cancel Request</a></td>
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
		

		
	</form>
	
</center>

{% include "footer.html" %}