{% include "teacher_header.html" %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
              	</div>
            </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section>
<center>
	<form method="post">
		<h1 style="color: black">Leave Requests </h1>
			<table class="table" style="width: 800px; align="center">
			<tr>
				<th>Sl No</th>
				<th>Student Name</th>
				<th>Reason</th>
				<th>Date</th>
				<th>Duration</th>
				<th>Applied On</th>
				<th>Status</th>
			</tr>

			{% for row in data['leave'] %}
			<tr>
				<td>{{loop.index}}</td>
				<td>{{row['sname']}}</td>
				<td>{{row['reason']}}</td>
				<td>{{row['date']}}</td>
				<td>{{row['duration']}}</td>
				<td>{{row['date_time']}}</td>
				<td>{{row['status']}}</td>
				{% if row['status'] =='pending' %}
				<td><a class="btn btn-success" href="?action=accept&lid={{row['leave_id']}}">Accept</a></td>
				<td><a class="btn btn-danger" href="?action=reject&lid={{row['leave_id']}}">Reject</a></td>
				{% endif %}
				
			</tr>
			{% endfor %}
		</table>
		 
	</form>
</center>


{% include "footer.html" %}