

    </div>

    <!-- navigation -->
    <div class="navigation-w3ls">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-nav">
        <button class="navbar-toggler mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
         aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
          <ul class="navbar-nav justify-content-center">
            <li class="nav-item active">
              <a class="nav-link text-white" href="warden_home">Home
                <span class="sr-only">(current)</span>
              </a>
            </li>
            
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Manage
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="warden_manage_room">Room</a>
                <a class="dropdown-item" href="warden_enroll_student_to_hostel">Enroll Student</a>
                <a class="dropdown-item" href="warden_view_outpass_request">Outpass Request</a>
              </div> 
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle text-white" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
              </a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="warden_view_approved_leave_request">Approved Leave Requests</a>
                
                <a class="dropdown-item" href="warden_view_latecoming">Late coming</a>
            
            </li>
            
            <!-- <li class="nav-item">
              <a class="nav-link text-white" href="teacher_request_for_leave">Request Leave</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white" href="teacher_request_for_outpass">Request Outpass</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link text-white" href="/login">Logout</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
    <!-- //navigation -->
  </div>