{% include "warden_header.html" %}
<section id="hero">
    <div class="hero-container">
      <div id="heroCarousel" class="carousel slide carousel-fade" data-bs-ride="carousel" data-bs-interval="5000">

        <ol id="hero-carousel-indicators" class="carousel-indicators"></ol>

        <div class="carousel-inner" role="listbox">

          <div class="carousel-item active" style="background-image: url(/static/assets/img/hero-carousel/img1.jpg)">
            <div class="carousel-container">
              <div class="container">
<center>
	<h1 style="color: white">Late Comings</h1>
	<table class="table" style="width: 700px; background-color: white;opacity: 0.8;" align="center">
		<tr>
			<th>Sl No</th>
			<th>Student Name</th>
			<th>Date Time</th>
			<th>Late By</th>
		</tr>

		{% for row in data['late'] %}
		<tr>
			<td>{{loop.index}}</td>
			<td>{{row['first_name']}} {{row['last_name']}}</td>
			<td>{{row['date_time']}}</td>
			<td>{{row['late_by']}}</td>
		</tr>
		{% endfor %}
	</table>
</center>
 </div>
          </div>

        </div>

        <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
          <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
        </a>

        <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
          <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
        </a>

      </div>
    </div>
  </section><!-- End Her

{% include "footer.html" %}